@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "bulma/bulma";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

// Update some of Bulma's component variables
$beige-lighter: #EFF0EB;
$body-background-color: $beige-lighter;

// Import only what you need from Bulma
