html {
    background-image: url('../../assets/images/hero/hero_principal.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
